@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

body {
  background-color: #7FB5FF; }

h1,
h2,
h3 {
  font-family: "IBM Plex Serif", serif; }

p {
  font-family: "Jost", sans-serif; }

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: mainColor; }

header {
  display: flex;
  justify-content: space-around;
  grid-area: header; }

.a-sub-animation {
  display: inline-block;
  position: relative;
  color: #0087ca; }
  .a-sub-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
    .a-sub-animation:after:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }

#door {
  width: 33%;
  grid-area: door; }

figure {
  display: flex;
  flex-direction: column;
  align-items: center; }
  figure figcaption {
    flex-wrap: wrap;
    font-family: "Jost", sans-serif; }

.cursos {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.seminario {
  width: 100%;
  object-fit: cover; }

.confs {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

#sergio {
  width: 200px; }

#trece {
  width: 30%; }

#doce {
  width: 30%; }

#diez {
  width: 30%; }

#reset {
  font-family: "Jost", sans-serif; }

#id {
  font-family: "Jost", sans-serif; }

legend {
  font-family: "IBM Plex Serif", serif; }

label {
  font-family: "Jost", sans-serif; }

input {
  font-family: "Jost", sans-serif; }

nav {
  top: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  grid-area: nav; }
  nav ul li a {
    font-family: "Jost", sans-serif; }

.navColor {
  background-color: #C4DDFF; }

footer {
  background-color: #FEE2C5;
  padding: 1.2rem;
  width: 100%;
  grid-area: footer;
  display: flex;
  justify-content: space-between; }

#info {
  font-size: 0.8rem; }

#map {
  width: 20%; }

form {
  margin-left: 5%;
  margin-right: 5%; }

legend {
  font-family: "Jost", sans-serif; }
