/* CSS general */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
  font-size: 62,5% ;
}

h1,
h2,
h3{
    font-family: 'IBM Plex Serif', serif;
}

p{
    font-family: 'Jost', sans-serif;
}

nav{
    /*position: fixed;*/
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    /*display: inline;*/
    grid-area: nav;
    /*animation-name: navAlpha;
    animation-duration: 3s;*/
}

.navColor{
    background-color: #C4DDFF;
}

nav ul li a{
    font-family: 'Jost', sans-serif;
}

header{
    /*padding: 0% 10% 1% 10%;*/
    /*padding-top: 220px;*/
    display: flex;
    justify-content: space-around;
    grid-area: header
}

body{
    background-color: #7FB5FF;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.a-sub-animation{
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.a-sub-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.a-sub-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#info{
    width: 50%;
    font-size: 0.8rem;
}

/* Index */

#door{
    width: 33%;
    grid-area: door;
}

/* Contacto */

form{
    margin-left: 5%;
    margin-right: 5%;
}

legend{
    font-family: 'Jost', sans-serif;
}

/*Actividades*/

figcaption{
    font-family: 'Jost', sans-serif;
}

.cursos{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.seminario{
    width: 100%;
    /*display: inline;*/
    object-fit: cover;
}

.confs{
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


/* Revista */


#trece{
    width: 30%;
}

#doce{
    width: 30%;
}

#diez{
    width: 30%;
}

/*Miembros*/

.miembros{
    display: flex;
    flex-direction: column;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption{
    flex-wrap: wrap;
}

#sergio{
    width: 200px;
}

/* Error ¨*/

.nogrid{
    display: inline;
}


/*Responsive*/

main{
    grid-area: main;
}

@media only screen and (min-width: 320px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    }
}

@media only screen and (min-width:1024px) {
    body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "footer footer";
    }

    
    main{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
    }

    footer{
        justify-content: space-around;
        align-items: center;
    }

    #info{
        font-size: 1rem;
    }

    .miembros{
        flex-direction: row;
        justify-content: space-around;
    }

    .formu{
        display: flex;
        justify-content: center;
    }

}
