@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$mainFont: 'Jost', sans-serif;
$titleFont: 'IBM Plex Serif', serif;

//SIzes

$htmlSize: 62,5%;
$textSm: 0.8rem;