footer{
    background-color: map-get($map:$paleta, $key: 'footerColor');
    padding: 1.2rem;
    width: 100%;
    grid-area: footer;
    @include d-flex(space-around);
    align-items: center;
}

#info{
    font-size: $textSm;
}

#map{
    width: 30%;
}

iframe{
    width: 400px;
    height: 300px;
}