footer{
    background-color: map-get($map:$paleta, $key: 'footerColor');
    padding: 1.2rem;
    width: 100%;
    grid-area: footer;
    @include d-flex(space-between)
}

#info{
    font-size: $textSm;
}

#map{
    width: 20%;
}