nav{
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    grid-area: nav;
    ul{
        li{
            a{
                font-family: $mainFont;
            }
        }
    }
}

.navColor{
    background-color: $navColor;
}