nav{
    top: auto;
    width: 100%;
    @include d-flex(space-around)
    align-content: space-around;
    align-items: center;
    grid-area: nav;
    ul{
        li{
            a{
                font-family: $mainFont;
            }
        }
    }
}

.navColor{
    background-color: map-get($map:$paleta, $key: 'navColor');
}